spring:
  rabbitmq:
    host: 127.0.0.1
    stream:
      username: guest
      password: guest
  redis:
    port: 6379
    host: localhost
    password:
    jedis:
      pool:
        max-idle: 10
        max-active: 10
        min-idle: 0
        max-wait: -1ms
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/dtwin?serverTimezone=GMT%2B8
    username: root
    password: 123456
  jackson:
    date-format: yyyy-MM-dd HH:mm:ss
    time-zone: GMT+8
  application:
    name: DTwinServer

mybatis-plus:
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
    map-underscore-to-camel-case: true
    # 该配置就是将带有下划线的表字段映射为驼峰格式的实体类属性
#mybatis:
#  config-locations: classpath:mapper/*.xml
#  type-aliases-package: com.msc.DTwinBackend.entity.pojo
#  #开启驼峰命名
#  configuration:
#    map-underscore-to-camel-case: true