<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.msc.DTwinBackend.mapper.DatabaseMapper">
    <select id="findAll" resultType="DatabaseTest">
        select *
        from test
    </select>
    <insert id="add" parameterType="DatabaseTest">
        insert into test(id, batch_id, value, create_time)
        values (#{id}, #{batchId}, #{value}, #{createTime})
    </insert>
</mapper>

